@using Company.Areas.Admin.Models
@model IList<NhaXB>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
    <main id="main" class="main">
        <div class="pagetitle">
            <h2>Danh sách các chức năng</h2>

            <p>
                <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="NhaXB" asp-action="Create">
                <i class="bi bi-file-earmark-text me-1"></i>Thêm nhà xuất bản</a>
                <section class="section dashboard">
                    <div class="row">
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body mt-4">
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th class="col-1 text-center">#</th>
                                                <th class="col-2 text-center">Tên nhà xuất bản</th>
                                                <th class="col-2 text-center">Địa chỉ</th>
                                                <th class="col-2 text-center">Email</th>
                                                <th class="col-2 text-center">Số điện thoại</th>
                                                <th class="col-2 text-center">Chức năng</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center" scope="row">@item.MaNXB</td>
                                                    <td class="text-left text-primary" scope="row"><a asp-area="Admin"
                                                        asp-asp-controller="NhaXB" asp-action="Details"
                                                        asp-route-itemid="@item.MaNXB">@item.TenNXB</a></td>
                                                    <td class="text-center" scope="row">@item.Diachi</td>
                                                    <td class="text-center" scope="row">@item.Email</td>
                                                    <td class="text-center" scope="row">@item.SDT</td>
                                                    <td class="text-center" scope="row">
                                                        <a asp-area="Admin" asp-controller="NhaXB" asp-action="Edit"
                                                            asp-route-id="@item.MaNXB" class="btn btn-primary btn-sm"
                                                            title="Sửa nhà xuất bản"><i class="bi bi-pencil"></i></a>

                                                        <a asp-area="Admin" asp-controller="NhaXB" asp-action="Delete"
                                                            asp-route-id="@item.MaNXB" class="btn btn-danger btn-sm"
                                                            title="Xóa nhà xuất bản"><i class="bi bi-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </p>
        </div>
    </main>
